### NER Exercise

Exercise 1: 
Extract all the Geographical (cities, countries, states) data from a given text

In [14]:
text = """
Kiran want to know the famous foods in each state of India.
So, he opened Google and search for this question. Google showed that 
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal,
in Andhrapradesh it is Biryani, in Odisha it is Chennapoda and so on for all other states
"""

### Solution to exercise 1

In [15]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [18]:
doc = nlp(text)
geo = []

for ent in doc.ents:
  if ent.label_ == 'GPE': 
    geo.append(ent)
geo
## Hint: Because of the way the model is trained, it doesn't recognise
## Tamil Nadu/TamilNadu. Same with Andhrapradesh

[India, Delhi, Gujarat, Tamilnadu, Andhrapradesh, Odisha]

Exercise 2: Extract all the birth dates of cricketers in the given text

In [20]:
text = """
Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988,
Dhoni was born on 7 July 1981 and finally Ricky ponting was born on 19 December 1974.
"""

In [21]:
doc = nlp(text)
dates = []
for ent in doc.ents:
  if ent.label_ == 'DATE':     
    dates.append(ent)
dates

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]